.columns > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.columns img {
  width: 90%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns h2 {
    color: #ffc806;
  }
  .columns div > p:first-child {
    color: #fff;
    margin-bottom: 0em;
  }
}
