footer {
  padding: 2rem;
  #background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
  display: block;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer > div  > div  {
  
  width: 100%;
  float: left;
}

footer > div  > div > div {
  
  width: 100%;
  float: left;
}

footer img {
  width: 208px;
  height: auto;
  float: left;
  margin-right: 100px;
}

footer > div  > div > div > ul {
  display: flex;
  list-style: none;
  float: left;
  padding: 0;
  margin-right: 20px;
}

footer > div  > div > div > ul > li > ul {
  margin-right: 100px;
  padding: 0;
}

footer li {
  list-style: none;
}
